/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 900px;
    background-color: #fff;
    display: flex;
}

.illustration,
.faq-text {
    flex-basis: 50%;
}

/* ACCORDION FUNCTIONALITY */
input {
    display: none; /* hides input checkbox */
}

label {
    display: block;
    cursor: pointer;
    color: grey;
    transition: ease 0.5s;
}

label:hover {
    color: #000;
}

input + label + .answer {
    display: none;
}

input:checked + label + .answer {
    display: block;
}

input:checked + label > .icon-arrow {
    transform: rotate(180deg);
}
